<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8">
  <title>Boiler Plate</title>
</head>

<body>

<div id="page-wrapper">
  {% block content %}{% endblock %}
</div>

<script src="/js/styles.min.js?{{ epoch }}"></script>
<script src="/js/app.min.js?{{ epoch }}"></script>
</body>
</html>
